extends ../layout

block content
  form(action="/quizes/answer", method="get")
    div Pregunta: #{pregunta}
    div
      input(type="text",name="respuesta", value="Responda aquí")
    div
      input(type="submit",value="Enviar")
